.wy-nav-content-wrap, .wy-nav-content {
    background: #FFF !important;
}
.wy-side-nav-search {
    background: #e24725 !important;
    padding: 0 !important;
}
.wy-side-nav-search > a {
    margin: 0 !important;
}
.wy-side-nav-search > div[role="search"] {
    padding: 20px 10px;
    background: #F4F4F4;
}
.wy-side-nav-search input[type=text] {
    border-color: #000 !important;
}
.wy-nav-side {
    background: #F4F4F4 !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
}
.wy-menu-vertical ul {
    margin-left: 10px;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #2b9d90 !important;
}
.wy-menu-vertical a {
    color: #444 !important;
}
.wy-menu-vertical a:hover {
    background: none !important;
    color: #ee7700 !important;
}
.rst-versions .rst-current-version {
    color: #2b9d90 !important;
}